.logoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 4% 0 4%;
}

.logoHorizontalLine{
    width: 100%;
    border: 1px solid #BABABA;
    margin: 1rem;
}
.catholicsk,
.thePlaceWhere {
    position: relative;
    text-align: left;
}
.catholicsk {
    font-size: 2.25rem;
    font-family: var(--font-bellota-text);
    background: linear-gradient(91.65deg, #dbbf9a, #c7af8d 46.88%, #977458);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.thePlaceWhere {
    font-size: var(--font-size-xl);
    font-family: var(--font-cambay);
    color: var(--color-darkslategray-100);
}
.logotext {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    position: absolute;
    top: 3rem;
    left: 4.13rem;
    height: 5.94rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.crosslogo,
.crosslogoChild {
    position: absolute;
    top: 0;
    left: 0;
    width: 5.28rem;
    height: 8.94rem;
}
.crosslogo {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
}
.logo {
    position: relative;
    width: 26rem;
    height: 8rem;
    margin: 1rem;
}
@media screen and (max-width: 960px) {
    .catholicsk {
        font-size: var(--font-size-13xl);
    }
    .thePlaceWhere {
        font-size: var(--font-size-base);
        text-align: left;
    }
    .logotext {
        flex-direction: column;
        top: 3.2rem;
        left: 4.4rem;
    }
    .crosslogoChild {
        margin-left: 1rem;
        width: 4.28rem;
        height: 7.94rem;
    }
    .logo {
        margin: 0.4rem;
        height: 7rem;
    }
}
@media screen and (max-width: 420px) {
    .catholicsk {
        font-size: var(--font-size-9xl);
    }
    .thePlaceWhere {
        font-size: var(--font-size-base);
        text-align: left;
    }
    .logotext {
        flex-direction: column;
        top: 2.8rem;
        left: 4.4rem;
    }
    .crosslogoChild {
        margin-left: 2rem;
        width: 3.28rem;
        height: 6.94rem;
    }
    .logo {
        margin: 0.4rem;
        height: 6rem;
        width: 23rem;
    }
}
