.whiteContainer {
    position: relative;
    padding: 3rem;
    color: var(--color-black);
    margin: 2rem;
    border-radius: 4px;
    border: 1px solid #DBDBDB;
    background: white;
    font-family: var(--font-cambay);
    width: 20rem;
    height: 23.75rem;
}

.date{
    position: absolute;
    top: 0.6rem;
    right: 1rem;
    font-size: 1rem;
    text-align: right;
}

.title{
    color: var(--color-green-100);
}

.whiteContainer p{
    margin-top: 1.6rem;
    margin-bottom: 1.6rem;
}

.whiteContainer h1{
    margin-top: 1.6rem;
    margin-bottom: 1.6rem;
}