.background-container {
    width: 100%;
}

.quote-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-top: 6%;
    padding-bottom: 6%;
}

.horizontal-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    margin-right: 2rem;
}

.vertical-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
}

.vertical-line {
    width: 0;
    height: 7rem;
    border: 1px solid #E7E7E7;
    margin-left: 0.5rem;
    margin-right: 0.75rem;
}

.quote-title {
    font-size: 2.25rem;
    font-family: 'Cambay', sans-serif;
    font-style: normal;
    font-weight: 700;
    background: linear-gradient(90.88deg, #DBBF9A 0.32%, #C7AF8D 45.4%, #977458 93.4%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.quote-text {
    margin-top: 0.56em;
    max-width: 30rem;
    height: auto;
    font-size: 1.2rem;
    font-family: 'Cardo', serif;
    font-style: normal;
    font-weight: 400;
    line-height: 1.375rem;
    color: #DBDBDB;
}

.reference {
    height: 1rem;
    font-size: 0.8rem;
    font-family: 'Cambay', cursive;
    font-style: italic;
    font-weight: 200;
    line-height: normal;
    color: #DBDBDB;
    margin-top: 0.4rem;

}

.date {
    max-width: 1.4rem;
    height: 6.8rem;
    font-family: 'Cardo', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.4rem;
    color: #B6B6B6;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
}

@media screen and (max-width: 1200px) {
    .dailyrefreshquote {
        width: 32.5rem;
    }
}
@media screen and (max-width: 1064px) {
    .quote-title {
        font-size: 1.8rem;
    }
    .quote-text{
        font-size: 1em;
        line-height:1.3em;
        max-width: 20rem;
    }
    .reference{
        font-size: 0.8rem;
    }
    .date {
        font-size: 1rem;
        line-height: 1.3rem;
    }
}

@media screen and (max-width: 420px) {
    .quote-title {
        font-size: 1.625rem;
    }
    .quote-text{
        font-size: 1em;
        line-height:1.25em;
        max-width: 16rem;
        margin-top: 0.36em;
    }
    .reference{
        font-size: 0.8rem;
    }
    .date {
        font-size: 0.9rem;
        line-height: 1.25rem;
    }
    .loremIpsumDolorContainer {
        font-size: var(--font-size-base);
        width: 25rem;
    }
    .may292023 {
        font-size: 0.88rem;
        width: 6.31rem;
    }
    .dailyrefreshquote {
        width: 25rem;
        max-width: 25rem;
    }
}
