.pageCardContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;
    margin-right: 10px;
}

.button{
    margin-top: 1rem;
    border: none;
}

.icon{
    margin: 1rem;
    width: 8rem;
    height: 8rem;
}
