.header {
    font-weight: bold;
    color: var(--color-green-100);
    font-size: 2rem;
}

.wrapperClassName {
    width: 76%;
    margin: 1rem auto;
    border: 1px solid var(--color-black);
}

.blockContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem;
}

.inputStyling {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid var(--color-black);
    border-radius: 5px;
    width: 50%;
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--color-black);
    background-color: var(--color-white);
    outline: none;
}

input[type="file"] {
    display: none;
}

.inputLabelContainer {
    width: 100%;
}

.inputLabel{
    display: flex;
    align-items: center;
    font-family: 'Cambay';
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 2rem;
    padding: 6px 6px 2px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.4);
    border: 1px solid var(--color-green-100);
    margin: 2rem 12% 2rem 12%;
    justify-content: center;
    cursor: pointer;
}

.inputLabel:hover{
    color: var(--color-green-100);
    box-shadow: 0 0 1rem rgba(1, 96, 102, 0.8);
}

.inputImage{
    width: 2rem;
    margin-right: 0.4rem;
}

.inputFile{
    font-weight: 400;
    font-size: 1.2rem;
    padding: 6px 6px 2px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.4);
}

.addButton{
    margin: 2rem 12% 2rem 12%;
    width: 76%;
    align-items: center;
    justify-content: center;
}

.galleryWrapper{
    width: 100%;
}

.galleryImage{
    width: 26rem;
}

.imageContainer:hover{
    .button{
        display: flex;
    }
}

.button{
    display: none;
    position: absolute;
    bottom: 1.4rem;
    left:26%;
}



