.pageCardContainer{
    display: flex;
    flex-direction: column;
    width: 56%;
    margin-top: 2rem;
    margin-right: 10px;
}

.button{
    width: 100%;
    height: 2.6rem;
    border: none;
    color: black;
}
.button:visited{
    color: black;
}

.domain{
    position: absolute;
    bottom: 0.1rem;
    display: flex;
}

.domain p{
    margin-right: 1.8rem;
    font-size: 1rem;
}
