.body {
    background: linear-gradient(270deg, rgba(241, 241, 241, 0.70) 0%, rgba(241, 241, 241, 0.65) 46.33%, #F1F1F1 100%);
}

.titleContainer {
    padding: 2rem;
    color: white;
    font-family: Cambay;
    font-size: 0.5rem;
    min-width: 34%;
}

.choirInfoContainer{
    display: flex;
}

.image{
    position: absolute;
    margin-top: 1rem;
    margin-left: 50%;
    width: 46%;
}

.bibleGroupInfo{
    margin-left: 6%;
    width: 60%;
}

.additionalBibleGroupInfoContainer{
    margin-top: 2rem;
    padding-top: 4%;
}

@media screen and (max-width: 1200px) {
    .bibleGroupInfo{
        width: 70%;
    }
}

@media screen and (max-width: 960px) {
    .bibleGroupInfo{
        width: 78%;
    }
}

@media screen and (max-width: 768px) {
    .choirInfoContainer{
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 480px) {

}
