
.choirInfoContainer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.backgroundImage{
    position: absolute;
    margin-top: 1rem;
    margin-left: 50%;
    width: 46%;
}

.bodyBlurContainerChoir{
    width: 66%;
}

.additionalBibleGroupInfoContainer{
    margin-top: 2rem;
    padding-top: 4%;
}

@media screen and (max-width: 1200px) {
    .bodyBlurContainerChoir{
        width: 70%;
    }
}

@media screen and (max-width: 960px) {
    .bodyBlurContainerChoir{
        width: 78%;
    }
}

@media screen and (max-width: 768px) {
    .bodyBlurContainerChoir{
        flex-wrap: wrap;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width: 480px) {

}
