.titleContainer{
    background-color: var(--color-green-80);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    color: white;
    font-family: Cambay;
    font-size: 0.5rem;
}

.hollyMassBody{
    background: linear-gradient(270deg, rgba(241, 241, 241, 0.70) 0%, rgba(241, 241, 241, 0.65) 46.33%, #F1F1F1 100%);
}

.mainContainer{
    display: flex;
    justify-content: center;
    margin-top: 3%;
    margin-bottom: 3%;
}
.sideContainer{
    display: flex;
    max-width: 20%;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    margin: 3%;
}

.notesContainer{
    max-width: 90%;
    margin-top: 2rem;
}
