.home__background {
}

.home__welcome_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.home__welcome_container2 {
    display: flex;
    justify-content: center;
}

.home__welcome_title {
    font-family: var(--font-cambay);
    font-size: var(--font-size-extra-large-h);
    line-height: var(--line-height-extra-large-h);
    color: var(--color-green-100);
}

@media screen and (max-width: 840px) {
    .home__background {
        padding: 2rem 0.4rem;
    }
}