.home__background {
    background-color: rgba(229, 229, 229, 0.94);
    padding: 4rem;
}

.home__welcome_container{
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 840px) {
    .home__background {
        padding: 0.4rem;
    }
}