
.mainTextContainerWithoutImage {
    width: 74%;
}

.singleImage {
    max-width: 100%;
    max-height: 680px;
}

.imagesContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.smallImage {
    height: 9rem;
    margin-right: 1rem;
    margin-bottom: 0.6rem;
}

