.activity{
    display: flex;
    flex-direction: column;
    width: 24rem;
    height: auto;
    background: #FFFFFF;
    box-shadow: 0 0 0.75rem rgba(0, 0, 0, 0.15);
    border-radius: 0.5rem;
    margin-bottom: 3.25rem;
    margin-right: 1.2rem;
    margin-left: 1.2rem;
    overflow: hidden
}

.activityImageContainer{
    display: flex;
    overflow: hidden
}

.activity img{
    width: 100%;
    height: 15rem;
    transition: transform 0.3s;
    object-fit: cover;
}

.activity:hover{
    box-shadow: 0 0 1rem rgba(1, 96, 102, 0.8);
}

.activity:hover .activity__link_arrow{
    padding-left: 1rem;
}

.activity:hover img{
    transform: translate3d(0, 0, 0) scale3d(1.2, 1.2, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
    width: 100%;
}

.activity h1{
    font-family: 'Cambay', sans-serif;
    font-style: normal;
    font-size: 1.3rem;
    font-weight: 500;
    margin: 1rem;
    color: #000000;
}

.activity p{
    font-family: 'Cambay', sans-serif;
    font-style: normal;
    margin: 0 1rem 1.8rem 1rem;
    color: #000000;
}

.activity__link{
    display: flex;
    color: #016066;
}

.activity__link p{
    display: flex;
    color: #016066;
}