.catholicsk,
.thePlaceWhere {
    position: relative;
    text-align: left;
}
.catholicsk {
    font-size: 2.25rem;
    font-family: var(--font-bellota-text);
    background: linear-gradient(91.65deg, #dbbf9a, #c7af8d 46.88%, #977458);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.thePlaceWhere {
    font-size: var(--font-size-xl);
    font-family: var(--font-cambay);
    color: var(--color-darkslategray-100);
}
.logotext {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    position: absolute;
    top: 3rem;
    left: 4.13rem;
    height: 5.94rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.crosslogo,
.crosslogoChild {
    position: absolute;
    top: 0;
    left: 0;
    width: 5.28rem;
    height: 8.94rem;
}
.crosslogo {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
}
.logo {
    position: relative;
    width: 100%;
    height: 8.94rem;
}
@media screen and (max-width: 420px) {
    .catholicsk {
        font-size: var(--font-size-9xl);
    }
    .thePlaceWhere {
        font-size: var(--font-size-base);
        text-align: left;
    }
    .logotext {
        flex-direction: column;
    }
    .crosslogoChild {
        width: 5.34rem;
        height: 8rem;
    }
}
