.noteContainer {
    border-width: 2px;
    border-style: solid;
    border-image: var(--color-gold);
    border-image-slice: 1;
    padding: 3rem;
    max-width: 18rem;
    margin-right: 4rem;
    margin-top: 4rem;
    max-height: 19rem;
}

.noteTitleContainer{
    margin-bottom: 1.6rem;
}

@media screen and (max-width: 960px) {
    .noteContainer {
        display: none;
    }
}
@media screen and (max-width: 420px) {
    .noteContainer {
        display: none;
    }
}
