
.photoCarouselItem {
    position: absolute;
    top: 1.19rem;
    left: 1.13rem;
    width: 37.75rem;
    height: 23.19rem;
    object-fit: cover;
}
.photoCarousel {
    position: absolute;
    border-width: 2px;
    border-style: solid;
    border-image: linear-gradient(90.88deg, #DBBF9A 0.32%, #C7AF8D 45.4%, #977458 93.4%);
    border-image-slice: 1;
    padding: 0.6rem;
    width: 540px;
    height: 350px;
    top:18rem;
    left: 6rem;
}

.photoCarouselImage{
    width: 536px;
    height: 326px;
}

@media screen and (max-width: 1200px) {
    .photoCarousel {
        padding: 0.6rem;
        width: 450px;
        height: 290px;
        top:18rem;
        left: 2rem;
    }
    .photoCarouselItem {
        width: 28.75rem;
        height: 18.75rem;
    }
    .photoCarouselImage{
        width: 446px;
        height: 266px;
    }
}

@media screen and (max-width: 960px) {
    .photoCarousel {
        padding: 0.6rem;
        width: 400px;
        height: 250px;
        top:14rem;
        left: 2rem;
    }
    .photoCarouselItem {
        width: 28.75rem;
        height: 18.75rem;
    }
    .photoCarouselImage{
        width: 396px;
        height: 226px;
    }
}
@media screen and (max-width: 840px) {
    .photoCarousel {
        padding: 0.6rem;
        width: 386px;
        height: 250px;
        top:34%;
        left: 16%;
    }
    .photoCarouselItem {
        width: 23.75rem;
        height: 17.5rem;
    }
    .photoCarouselImage{
        width: 380px;
        height: 230px;
    }
}

@media screen and (max-width: 500px) {
    .photoCarousel {

        padding: 0.6rem;
        width: 346px;
        height: 210px;
        top:50%;
        left: 8%;
    }
    .photoCarouselItem {
        width: 23.75rem;
        height: 17.5rem;
    }
    .photoCarouselImage{
        width: 340px;
        height: 190px;
    }
}
