.gallery{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 0 2rem 0;
    margin: 0 2rem;
}

.galleryTitle{
    font-family: 'Cambay', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.75rem;
    line-height: 2.9rem;
    margin-bottom: 1rem;
    padding-left: 1rem;
    color: #016066;
}

.galleryContainer{
    width: 98%;
}

.swiperWrapper{

}

.paginationSpase{
    height: 1rem;
}

.swiperPagination{
    bottom: 0!important;
}


@media screen and (max-width: 840px) {
    .galleryContainer{
        width: 68%;
    }
}

@media screen and (max-width: 680px) {
    .galleryContainer{
        width: 80%;
    }
    .gallery{
        margin: 0 1rem;
    }
}
@media screen and (max-width: 550px) {
    .galleryContainer{
        width: 100%;
    }
}

@media screen and (max-width: 390px) {
    .galleryContainer{
        width: 100%;
    }
}