.border{
    border-width: 1px;
    border-style: solid;
    border-image: linear-gradient(90.88deg, #DBBF9A 0.32%, #C7AF8D 45.4%, #977458 93.4%);
    border-image-slice: 1;
}

.secondBorder {
    transform: rotate(2deg);
}
.container {
    align-self: center;
    max-width: 36%;
    margin: 2%;
    position: relative;
}
.content{
    transform: rotate(-2deg);
    margin: 0.8rem;
}

@media screen and (max-width: 680px) {
    .container {
        max-width: 80%;
    }
}

