.notesContainer {
    max-width: 16%;
    margin-right: 5%;
    margin-top: 6rem;
    margin-bottom: auto;
}

@media screen and (max-width: 960px) {
    .notesContainer {
        display: none;
    }
}