.news{
    display: block;
    background: #FFFFFF;
    border-radius: 0.25rem;
    margin: 0.8rem 0.8rem;
    padding-bottom: 0.4rem;
    padding-right: 0.4rem;
    padding-left: 0.4rem;
    min-height: 14rem;
    max-width: 24rem;
}

.newsClickable:hover{
    box-shadow: 0 0 1rem rgba(1, 96, 102, 0.8);
}

.newsNonClickable:hover{
    box-shadow: none;
}

.news__title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 0.8rem;
}

.news h1{
    font-family: 'Cambay', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.6rem;
    margin: 1rem;
    color: #000000;
}

.news p{
    font-family: 'Cambay', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.6rem;
    margin: 0.2rem 1rem 1rem;
    color: #000000;
}

@media screen and (max-width: 420px) {
    .news{

        margin: 0.2rem;
    }
    .newsClickable:hover{
        box-shadow: 0 0 0.2rem rgba(1, 96, 102, 0.8);
    }
}