.news{
    display: block;
    background: #FFFFFF;
    border-radius: 0.25rem;
    margin: 0.4rem 0.8rem 1.6rem 0.8rem;
    padding-bottom: 0.6rem;
    padding-right: 0.6rem;
    padding-left: 0.6rem;
    height: 19.4rem;
    width: 27rem;
}

.bodyContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 15rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

.separate{
    max-width: 50%;
    margin-bottom: auto;
}

.newsClickable:hover{
    box-shadow: 0 0 1rem rgba(1, 96, 102, 0.8);
}

.newsNonClickable:hover{
    box-shadow: none;
}

.newsTitle{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 0.8rem;
}

.news h1{
    font-family: 'Cambay', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.6rem;
    color: #000000;
}

.news p{
    font-family: 'Cambay', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.6rem;
    margin: 0.2rem 1rem 1rem;
    color: #000000;
}

@media screen and (max-width: 420px) {
    .news{
        max-width: 24rem;

        margin: 0.2rem;
    }
    .newsClickable:hover{
        box-shadow: 0 0 0.2rem rgba(1, 96, 102, 0.8);
    }
}