/* Provide sufficient contrast against white background */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    font-family: inherit;
    scroll-behavior: smooth;
}

body {
    line-height: 1;
}

.body-container{
    background-image: url(../public/background.png);
    background-size: cover;
    background-position: center;
}

p, h1, h2{
    font-size: var(--font-size-extra-large);
    line-height: var(--line-height-extra-large);
}

h3{
    font-size: var(--font-size-extra-large-h);
    line-height: var(--line-height-extra-large-h);
}


a {
    text-decoration: none;
}

ol, ul {
    list-style: none;
}

input, textarea {
    outline: none;
}

textarea {
    resize: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.error-container{
    position: absolute;
    top: 1rem;
    right: 1rem;
}
.DraftEditor-editorContainer{
    z-index: auto!important;
}

@media screen and (max-width: 960px) {
    p, h1, h2, h3{
        font-size: var(--font-size-large);
        line-height: var(--line-height-large);
    }

}

@media screen and (max-width: 567px) {
    p, h1, h2, h3{
        font-size: var(--font-size-medium);
        line-height: var(--line-height-medium);
    }
}

@media screen and (max-width: 420px) {
    p, h1, h2, h3{
        font-size: var(--font-size-small);
        line-height: var(--line-height-small);
    }
}

@import url("https://fonts.googleapis.com/css2?family=Bellota+Text:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cambay:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;1,400&display=swap");
body {
    margin: 0;
    line-height: normal;
}
:root {
    /* fonts */
    --font-cambay: Cambay;
    --font-bellota-text: "Bellota Text";
    --font-cardo: Cardo;

    /* font sizes */
    --font-size-xl: 1.25rem;
    --font-size-base: 1rem;
    --font-size-9xl: 1.625em;
    --font-size-lg: 1.13rem;
    --font-size-13xl: 2rem;
    --font-size-11xl: 1.88rem;
    --font-size-5xl: 1.5rem;

    --font-size-small: 0.9rem;
    --font-size-medium: 1rem;
    --font-size-large: 1.1rem;
    --font-size-extra-large: 1.2rem;

    --font-size-small-h: 1.4rem;
    --font-size-medium-h: 1.5rem;
    --font-size-large-h: 1.6rem;
    --font-size-extra-large-h: 1.7rem;


    /* line height */
    --line-height-small: 1.3rem;
    --line-height-medium: 1.4rem;
    --line-height-large: 1.5rem;
    --line-height-extra-large: 1.6rem;

    --line-height-small-h: 1.6rem;
    --line-height-medium-h: 1.7rem;
    --line-height-large-h: 1.8rem;
    --line-height-extra-large-h: 1.9rem;


    /* Colors */
    --color-green-100: #016066;
    --color-red: #ff0000;
    --color-black: #000;
    --color-white: #fff;
    --color-gainsboro-100: #e7e7e7;
    --color-gainsboro-200: #dbdbdb;
    --color-silver: #b6b6b6;
    --color-gold: linear-gradient(90.88deg, #DBBF9A 0.32%, #C7AF8D 45.4%, #977458 93.4%);
    --color-green-80: rgba(1, 96, 102, 0.8);
    --color-green-60: rgba(1, 96, 102, 0.6);
    --color-green-40: rgba(1, 96, 102, 0.4);

    /* Gaps */
    --gap-41xl: 3.75rem;
    --gap-9xl: 1.75rem;
    --gap-xs: 0.75rem;
    --gap-3xs: 0.63rem;
    --gap-5xl: 1.5rem;
    --gap-99xl: 7.38rem;

    /* Paddings */
    --padding-sm: 0.88rem;
    --padding-mid-9: 1.12rem;

    /* border radiuses */
    --br-5xs: 8px;
    --br-9xs: 4px;
}
