.body {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.titleContainer {
    padding: 2rem;
    color: white;
    font-family: Cambay;
    font-size: 0.5rem;
    min-width: 34%;
}


.image{
    position: absolute;
    margin-top: 1rem;
    margin-left: 50%;
    width: 46%;
}

.nButton{
    color: black;
    width: 100%;
    height: 3rem;
    margin-top: 6rem;
    border: none;
}

.nButton:visited{
    color: black;
}

.bigButton{
    height: 4rem;
}

.nButtonText{
    padding-top: 0.4rem;
    margin-left: 0.8rem;
}

@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 960px) {

}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 480px) {

}
